{% load i18n staticfiles %}
{% load fp_block_tags %}

<div id="editor-panel">

    <div class="fp-editor-controls">
        {% if form %}
        <button data-behaviours="page-settings">
            <span>
                <i class="icon-file"></i>
                <span>{% trans "Settings" %}</span>
            </span>
        </button>
        {% endif %}
        <button id="editor-close" type="button" class="fp-close">×</button>
    </div>

    <div class="fp-scroll-content">
        <div id="page-settings">
            {% if form %}
            <h3><i class="icon-file"></i> <span>{% trans "Page Settings" %}</span></h3>
            <form method="post" action="." class="form-stacked">
                {% csrf_token %}
                {% include "fancypages/partials/form_fields.html" %}

                <div class="form-actions fixed">
                    <div>
                        <a href="">{% trans "Cancel" %}</a>

                        <button type="submit" class="fp-btn fp-btn-primary pull-right">
                            {% trans "Save" %}
                        </button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
        <div id="block-input-wrapper">
        {% if not form %}
            <p>
                {% blocktrans %}
                    Hover over a widget and click
                    <big>&quot;<i class="glyphicon-edit glyphicon-white"></i> edit&quot;</big>
                    to see editable properties.
                {% endblocktrans %}
            </p>
        {% endif %}
        </div>
    </div>
</div>
<div id='editor-handle'><i class="glyphicon-edit glyphicon-white"></i>edit</div>
<div class="fp-loading" data-behaviours="loading"></div>

{# the modal used for asset management #}
<div class="fp-modal hide fullscreen" id="fullscreen-modal" tabindex="-1" role="dialog" aria-labelledby="asset-modal-label" aria-hidden="true">
    <div class="fp-modal-header">
        <button type="button" class="fp-close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3></h3>
    </div>
    <div class="fp-modal-body"></div>
</div>

{# modal used for the selection of blocks when adding them to the container #}
{% render_block_selection %}

{# include scripts that are only required in edit mode #}
{% include "fancypages/editor/partials/cdn_scripts.html" %}
{% include "fancypages/editor/partials/extrascripts.html" %}
<script>
    $(document).ready(function(){
    //    fancypages.editor.init();
        FancypageApp.start();
    });
</script>
