{% extends "fancypages/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block body_class %}{% endblock %}

{% block page_title %}Fancy Pages - Asset Manager{% endblock %}

{% block layout %}
    <div class="fp-assets">
        <div class="fp-asset-upload">
            {% block column_left %}
            {% endblock %}
        </div>
        <div class="fp-modal-body">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block extrastyles %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href="{% static "fancypages/dist/css/fp-assets.min.css" %}" />
{% endblock %}
