{% extends "fancypages/base.html" %}
{% load i18n %}
{% load compress %}
{% load staticfiles %}

{% block body_class %}{% endblock %}

{% block page_title %}Fancy Pages - Asset Manager{% endblock %}

{% block layout %}
    <div class="fp-assets">
        <div class="fp-asset-upload">
            {% block column_left %}
            {% endblock %}
        </div>
        <div class="fp-modal-body">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block extrastyles %}
    {{ block.super }}
    {% compress css %}
    <link rel='stylesheet' type='text/less' href="{% static "fancypages/less/assets.less" %}" />
    {% endcompress %}
{% endblock %}
