{% extends "fancypages/assets/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}
{% load url from future %}

{% block body_class %}fp-assets-page{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "fancypages/libs/jquery-file-upload/jquery.fileupload-ui.css" %}" />
{% endblock %}

{% block column_left %}
<form id="fileupload" action="{% url "fp-dashboard:image-upload" %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <span class="fp-btn fp-btn-primary fp-btn-block fileinput-button">
        <span>{% trans "Upload new image" %}</span>
        <input type="file" name="image" style="opacity: 0;">
    </span>
</form>

<div id="upload-progress" class="progress progress-striped active hide">
    <div class="bar" style="width: 0%;"></div>
</div>
{% endblock %}

{% block content %}
<ul id='fp-asset-gallery' class="fp-thumbnails">
{% for image_asset in image_list %}
    {% include "fancypages/assets/partials/image_thumbnail.html" %}
{% endfor %}
</ul>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "fancypages/libs/jquery-file-upload/jquery.ui.widget.js" %}"></script>
    <script type="text/javascript" src="{% static "fancypages/libs/jquery-file-upload/jquery.iframe-transport.js" %}"></script>
    <script type="text/javascript" src="{% static "fancypages/libs/jquery-file-upload/jquery.fileupload.js" %}"></script>
    <script type="text/javascript" src="{% static "fancypages/js/assets.js" %}"></script>
{% endblock %}

{% block onbodyload %}
fancypages.assets.init();
{% endblock %}
