{% load url from future %}

<div class="fp-modal" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form data-behaviours="submit-block-form" action="{% url "fp-dashboard:block-delete" object.id %}" method="post">
        <div class="fp-modal-header">
            <button type="button" data-behaviours="remove-modal" class="fp-close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalHeader">Delete </h3>
        </div>
        <div class="fp-modal-body">
                {% csrf_token %}
                {{ form }}
                <p>Are you sure you want to delete '{{ object }}'?</p>
        </div>
        <div class="fp-modal-footer">
            <button type="button" data-behaviours="remove-modal" class="fp-btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button type="submit" class="fp-btn-primary fp-btn">Delete</button>
        </div>
    </form>
</div>
