{% load i18n %}
{% load fp_block_tags %}
{% load url from future %}

<div class="editing-area">
    <h3>Edit</h3>

    <form id="{{ block.container.name }}_block_form"
          data-block-id='{{ block.id }}'
          data-block-code='{{ block.code }}'
          data-container-id="{{ block.container.id }}"
          data-behaviours="submit-block-form" class="form" method="post"
          action="{% url "fp-api:block-retrieve-update-destroy" block.id %}">
        {% csrf_token %}
        {% render_block_form form %}
        <div class="fp-editor-actions">
            <div>
                <a href="">{% trans "Cancel" %}</a>
                <button type="submit" class="fp-btn-primary fp-btn">{% trans "Save" %}</button>
            </div>
        </div>
    </form>
</div>


