{% load i18n %}
{% load staticfiles %}
{% load url from future %}
<div class="block-add-control">
    <a data-toggle="modal"
       {#data-behaviours="load-modal"#}
       class="fp-btn fp-btn-block"
       data-target="#{{ container.uid }}_modal"
       data-href="{% url "fp-api:block-type-list" %}"
       data-container-id="{{ container.id }}">
        <i class="glyphicon-plus"></i> {% trans "Add content" %}
    </a>
</div>

<div id="{{ container.uid }}_modal" class="fp-modal fp-fade hide fullscreen"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="fp-modal-header">
        <button class="fp-close" data-dismiss="modal">×</button>
        <h3>Add content</h3>
    </div>

    <form id="{{ container.uid }}_add_block_form"
          data-behaviours='submit-block-form' data-container-id="{{ container.id }}"
          method="post" action="{% url "fp-api:block-list" %}" class="add-content">
        {% csrf_token %}
        <input name="container" value="{{ container.id }}" type="hidden"/>
        <div class="fp-modal-body">

            <div class='fp-tabbable'>
                <ul class="fp-nav-tabs">
                {% for group in grouped_blocks %}
                    <li {% if forloop.first %}class="active"{% endif %}>
                        <a href="#{{ container.name }}-{{ group|slugify }}" data-toggle="tab">{{ group }}</a>
                    </li>
                {% endfor %}
                </ul>
                <div class="fp-tab-content">
                    {% for group,block_list in grouped_blocks.items %}
                    <div class="fp-tab-pane {% if forloop.first %}active{% endif %}" id="{{container.name}}-{{ group|slugify }}">
                        <ul class="fp-widget-list">
                            {% for fp_block in block_list %}
                            <li>
                                <button type="submit" class="fp-btn" name="code" value="{{ fp_block.0 }}">
                                    <div class="image_container">
                                        <!-- <label id="{{ fp_block.0 }}"> -->
                                        <img src="{% static "fancypages/img/block_icons/" %}{{ fp_block.0 }}.png" class="{{ fp_block.0 }}" alt="{{ fp_block.1 }}" title="{{ fp_block.1 }}">
                                        <!-- </label> -->
                                    </div>
                                    {{ fp_block.1 }}
                                </button>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
</div>
