{% extends "fancypages/layout.html" %}
{% load staticfiles %}

{% block body_class %}fancypages{% endblock %}

{% block content %}
    {% block dashboard_content %}{% endblock %}
{% endblock %}

{% block mainstyles %}
    {{ block.super }}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href="{% static "fancypages/dist/css/page-management.css" %}" />
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "fancypages/dist/libs/wysihtml5/wysihtml5-config.min.js" %}"></script>
    <script type="text/javascript" src="{% static "fancypages/dist/libs/wysihtml5/wysihtml5-0.3.0.min.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "fancypages/dist/js/jquery-sortable.js" %}"></script>
    <script src="{% static "fancypages/dist/libs/elastislide/jquery.elastislide.js" %}" type="text/javascript" charset="utf-8"></script>

    {#<script src="{% static "fancypages/js/dashboard.js" %}" type="text/javascript" charset="utf-8"></script> #}
    <script src="{% static "fancypages/dist/js/dashboard/models.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "fancypages/dist/js/dashboard/views.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
