{% extends "fancypages/layout.html" %}
{% load compress %}
{% load staticfiles %}

{% block body_class %}fancypages{% endblock %}

{% block mainstyles %}
    {{ block.super }}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    {% compress css %}
        <link rel='stylesheet' type='text/less' href="{% static "fancypages/less/page-management.less" %}" />
    {% endcompress %}
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "fancypages/libs/wysihtml5/advanced.js" %}"></script>
    <script type="text/javascript" src="{% static "fancypages/libs/wysihtml5/wysihtml5-0.3.0.min.js" %}"></script>
    {% compress js %}
        <script src="{% static "fancypages/libs/elastislide/jquery.elastislide.js" %}" type="text/javascript" charset="utf-8"></script>

        <script src="{% static "fancypages/js/fancypages.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "fancypages/js/dashboard.js" %}" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}
{% endblock %}
