{% extends "fancypages/dashboard/layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url "dashboard:index" %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{% trans "Pages" %}</li>
</ul>
{% endblock %}

{% block header %}
<div class="fp-fixed-header">
    <div class="page-header">
        <a href="{% url "fp-dashboard:page-create" %}" class="btn btn-primary btn-large pull-right">{% trans "Create new top-level page" %}</a>
        <h1>{% trans "Page Management" %}</h1>
    </div>
</div>
<div class="row-actions-position">
    <div class="row-actions">
        <div class="row-fluid" >
            <h6 class="span10">Name</h6>
            <h6 class="span2">Status</h6>
        </div>
    </div>
</div>
{% endblock header %}

{% block dashboard_content %}
    <form action="." method="post">
        {% csrf_token %}

        <ol class="fp-page-management"></ol>
    </form>
{% endblock dashboard_content %}


{% block extrascripts %}
    {{ block.super }}
    <script id="template-page-node" type="text/template">
        
        <div class="row-actions-position">
            <div class="collapse" id="<%= uuid %>-actions">
                <div class="row-actions">
                    <a class="btn btn-small" href="<%= url %>">{% trans "View page" %}</a>
                    <a class="btn btn-small btn-success" href="<%= addChildUrl %>">{% trans "Add child page" %}</a>
                    <a class="btn btn-small btn-danger" href="<%= deletePageUrl %>">{% trans "Delete" %}</a>
                    <a class="btn btn-small" href="<%= editPageUrl %>">{% trans "Edit page settings" %}</a>
                    links to <a href="<%= url %>"><i class="icon-link"></i> <%= url %></a>
                </div>
            </div>
        </div>
        
        <div class="fp-page-wrapper collapsed" data-toggle="collapse" data-target="#<%= uuid %>-actions" >
            <div class="row-fluid" >
                <div class="span10">

                    <% if (children.length > 0) { %>
                        <a href="#" data-toggle="collapse" data-target="#<%= uuid %>-tree" class="fp-children-toggle btn btn-small collapsed">
                            <i class="icon-minus" data-toggle="collapse" data-target="#<%= uuid %>-tree"></i>
                        </a>
                    <% } %>

                    <button class="btn btn-small"><i class="icon-move icon-large"></i></button>

                    <a href="<%= editPageUrl %>" class="fp-page-link">
                        <%= name %>
                    </a>

                </div>

                <div class="span2 fp-page-status">
                    <% if (isVisible) { %>
                        <span class="label label-success">{% trans "visible" %}</span>
                    <% } else { %>
                    <span class="label label-important">{% trans "not visible" %}</span>
                    <% } %>
                    <span class="label"><%= status %></span>
                </div>
            </div>

        </div>
        <ol data-parent-id="<%= uuid %>" class="fp-children-group"></ol>
    </script>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    var pages = new FancypageApp.Dashboard.Models.Pages(),
        tree = new FancypageApp.Dashboard.Views.PageTree({collection: pages});
    pages.fetch();
{% endblock %}
