*.log
*.pot
*.sw[po]
*.py[co]
*.sqlite3
*.sqlite
*.vagrant
*.map
*.coverage

local_settings.py
environment.sh

*.egg-info/
*.cache/
*.tox

.ropeproject/

docs/build/
sandboxes/fancypages/public/
sandboxes/oscar_fancypages/public/
node_modules/
htmlcov/
