# development tools
Werkzeug>=0.6.2
django-debug-toolbar>=0.9.4
django-extensions>=0.9

# python shell & debugger
pudb>=2013.3.4
bpython>=0.12

# Testing dependencies
mock==1.0.1
WebTest==2.0.11
django-webtest==1.5.3
tox==1.6.1
factory-boy==2.1.1
pytest==2.5.1
pytest-cache==1.0
pytest-cov==1.6
pytest-django==2.5
pytest-pep8==1.0.5

# Browser testing deps
selenium==2.38.3
splinter==0.5.4

# Code style and coverage
flake8>=0.8
coverage==3.5.1
pyflakes>=0.5.0
coveralls==0.4

# documentation
Sphinx>=1.2
docutils>=0.8.1

# Others
purl==0.8
