{% extends 'dashboard/layout.html' %}
{% load staticfiles %}

{% block body_class %}fancypages{% endblock %}

{% block mainstyles %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href="{% static "oscar/css/dashboard.css" %}" />
    <link rel='stylesheet' type='text/css' href="{% static "fancypages/css/page-management.css" %}" />
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8" src="{% static "fancypages/libs/wysihtml5/advanced.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "fancypages/libs/wysihtml5/wysihtml5-0.3.0.min.js" %}"></script>

    <script type="text/javascript" charset="utf-8" src="{% static "fancypages/libs/elastislide/jquery.elastislide.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "fancypages/libs/jquery.mjs.nestedSortable.js" %}"></script>

    <script src="{% static "fancypages/js/fancypages.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "fancypages/js/dashboard.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
