{% extends "dashboard/layout.html" %}
{% load staticfiles %}

{% block body_class %}fancypages{% endblock %}

{% block mainstyles %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href="{% static "oscar/css/dashboard.css" %}" />
    {% include "fancypages/partials/extrastyles.html" %}
    {% include "fancypages/dashboard/partials/extrastyles.html" %}
{% endblock %}

{% block cdn_scripts %}
    {% include "fancypages/partials/cdn_scripts.html" %}
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {% include "fancypages/partials/extrascripts.html" %}
    {% include "fancypages/dashboard/partials/extrascripts.html" %}
{% endblock %}
