{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}
{% blocktrans with name=fancypage.name %}Delete page '{{ name }}'?{% endblocktrans %}
| {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url "dashboard:index" %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url "fp-dashboard:page-list" %}">{% trans "Pages" %}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url "fp-dashboard:page-update" fancypage.pk  %}">{{ fancypage.name }}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{% trans "Delete?" %}</li>
</ul>
{% endblock %}

{% block header %}
<div class="page-header">
<h1>{% blocktrans with name=fancypage.name %}Delete page '{{ name }}'?{% endblocktrans %}</h1>
</div>
{% endblock header%}

{% block dashboard_content %}
<form id="page-delete-form" action="." method="post">
    {% csrf_token %}
    {{ form }}
    <p>
        {% blocktrans with name=fancypage.name %}
        Delete page <strong>{{ name }}</strong> - are you sure?
        {% endblocktrans %}
    </p>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
        {% trans "or" %}
        <a href="{% url "fp-dashboard:page-list" %}">{% trans "cancel" %}</a>.
    </div>
</form>
{% endblock %}
