{% extends "fancypages/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block extrahead %}
    {{ block.super }}
    <style>

    </style>
{% endblock %}

{% block layout %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info fade in">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <i class="icon-info-sign"></i>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

   

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
	<div class="container-fluid page">
        <div class="page_inner">
            {% block header %}
                <div class="page-header action">
                    <h1>{% block headertext %}{% endblock %}</h1>
                </div>
                {% include "fancypages/partials/draft_note_block.html" %}
            {% endblock %}

            {% block subnavigation %}{% endblock %}

            <div class="content">
                {% block subheader %}{% endblock subheader %}
                {# Div exists for AJAX updates to entire content section #}
                <div id="content_inner">{% block content %}{% endblock %}</div>
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}
