{% load staticfiles %}
{% load i18n %}

{% with image_asset_name=asset.name image_url=asset.image.url %}
    {% if asset.image %}
    <div class="thumbnail">
        <img src="{{ image_url }}" title="{{ object.title|default:image_asset_name }}" alt="{{ object.alt_text|default:image_asset_name }}" />
    </div>
    {% else %}
        <p class="no-asset fp-btn fp-btn-block edit-button"><i class="glyphicon-picture"></i> <span class="visible-editor">{% trans "Click to add an image" %}</span></p>
    {% endif %}
{% endwith %}