{% load staticfiles %}
<script src="{% static "fancypages/dist/libs/fitvids/jquery.fitvids.min.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "fancypages/dist/libs/rangeslider/rangeslider.min.js" %}" type="text/javascript" charset="utf-8"></script>

<script src="{% static "fancypages/dist/js/ui.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "fancypages/dist/js/fancypages.min.js" %}" type="text/javascript" charset="utf-8"></script>
