{% load staticfiles %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" />
<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" /> -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.2.2/flexslider-min.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="{% static "fancypages/dist/css/libs.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "fancypages/dist/css/fancypages.min.css" %}" />
