{% load staticfiles %}
<script src="{% static "fancypages/dist/libs/fitvids/jquery.fitvids.min.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "fancypages/dist/libs/jquery.flexslider/jquery.flexslider-min.js" %}" type="text/javascript" charset="utf-8"></script>

<script src="{% static "fancypages/dist/js/ui.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "fancypages/dist/js/app.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "fancypages/dist/js/api.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "fancypages/dist/js/models.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "fancypages/dist/js/views.js" %}" type="text/javascript" charset="utf-8"></script>
