{% for category,subcategories in categories %}
  <li id="page-{{ field_id }}" {% if forloop.last %}class="last"{% endif %} data-page-id="{{ field_id }}">
      <a data-target="#{{ field_id }}"
         data-behaviours="update-editor-field"
         data-src="{{ category.get_absolute_url }}"
         data-dismiss="modal"
         href="#">
         {{ category.name }}
      </a>
      {% if subcategories %}
      <ol>
          {% with filename="fancypages/partials/page_select_link.html" %}
          {% include filename with categories=subcategories %}
          {% endwith %}
      </ol>
      {% endif %}
  </li>
{% endfor %}