{% load staticfiles %}
{% load i18n %}

<div class="thumbnail">
    {% with image_asset_name=asset.name image_url=asset.image.url %}

        {% if asset.image %}
            <img src="{{ image_url }}" title="{{ object.title|default:image_asset_name }}" alt="{{ object.alt_text|default:image_asset_name }}" />
        {% else %}
            <button class="visible-editor fp-btn fp-btn-block no-asset edit-button">
            	<i class="glyphicon-picture"></i> <br>{% trans "Add an image" %}
            </button>
        {% endif %}
    {% endwith %}
</div>
