{% load i18n %}
{% load staticfiles %}
{% load url from future %}

<div class="fp-asset-input">
    <div>
        {% if asset %}
            <img src="{{ asset.image.url }}"/>
        {% else %}
            <img src="{% static "fancypages/img/missing-img.png" %}" alt="Upload image" />
        {% endif %}
    </div>

    {{ rendered_widgets }}
    <a data-behaviours="load-iframe-modal"
       data-target="#fullscreen-modal"
       data-heading="Select or upload an image"
       data-iframe-id="asset-manager"
       data-iframe-src="{% url "fp-dashboard:image-list" %}"
       class="fp-btn-danger fp-btn fp-btn-block">
        {% trans "Library" %}
    </a>
</div>
