//Page management tree and the FP page link tree
@import "tree.less";
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

// The OL list of LI pages
.fp-page-management {
  display:block;
  list-style: none;
  margin:0;
  padding:0;
  // Allow for fixed elements
  padding-top:170px;
  background: #fff;
  ol {
    list-style: none;
    padding-bottom:0.1px;
  }
  li {
    display: block;
  }
  ol > li, > li {
    background:#fff;
  }
}

// Single page wrapper
.fp-page-wrapper {
  background:#e6e6e6;
  padding:8px;
  margin-bottom:8px;
  .border-radius(4px);
  border-bottom:1px solid darken(#efefef, 10%);
  text-transform: capitalize;
  .row-fluid [class*="span"] {
    min-height: 0;
  }
}

// Fixed element in the header the page management
.fp-fixed-header,
.row-actions-position {
  position: fixed;
  background: #fff;
  width:100%;
  left:0;
}
.fp-fixed-header .page-header,
.row-actions {
  margin:0 20px;
}
// Fixed header position
.fp-fixed-header {
  top:40px;
}
// Fixed page actions position
.row-actions-position {
  top:110px;
}

.row-actions {
  padding:10px 0;
  border-bottom:1px solid darken(#efefef, 10%);
}

// Placeholder
.fp-management-placeholder {
  padding:8px;
  border:1px dashed #444;
  margin-bottom:8px;
  display: block;
  .border-radius(4px);
  background:#fff;
}

// Page status
.fp-page-status {
  text-align: right;
}
