{% load staticfiles %}
{% load compress %}
<script type="text/javascript" charset="utf-8" src="{% static "fancypages/libs/wysihtml5/advanced.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "fancypages/libs/wysihtml5/wysihtml5-0.3.0.min.js" %}"></script>

<script type="text/javascript" charset="utf-8" src="{% static "fancypages/libs/scrollpane/jquery.jscrollpane.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "fancypages/libs/mousewheel/jquery.mousewheel.min.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "fancypages/libs/elastislide/jquery.elastislide.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "fancypages/libs/select2/select2.js" %}"></script>

<script type="text/javascript" charset="utf-8" src="{% static "fancypages/js/fancypages.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "fancypages/js/event-handlers.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "fancypages/js/editor.js" %}"></script>
