{% load staticfiles %}
<script type="text/javascript" charset="utf-8" src="{% static "fancypages/dist/libs/wysihtml5/wysihtml5-config.min.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "fancypages/dist/libs/wysihtml5/wysihtml5-0.3.0.min.js" %}"></script>

<script type="text/javascript" charset="utf-8" src="{% static "fancypages/dist/libs/scrollpane/jquery.jscrollpane.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "fancypages/dist/libs/mousewheel/jquery.mousewheel.min.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "fancypages/dist/libs/elastislide/jquery.elastislide.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "fancypages/dist/libs/select2/select2.js" %}"></script>

<script type="text/javascript" charset="utf-8" src="{% static "fancypages/dist/js/event-handlers.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "fancypages/dist/js/editor.js" %}"></script>
