{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{ lang|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ lang|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ lang|default:"en-gb" }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ lang|default:"en-gb" }}" class="no-js"> <!--<![endif]-->
    <head>
        <title>{% block title %}{% block page_title %}{% endblock %}Fancypages Sandbox{% endblock %}</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="created" content="{% now "jS M Y h:i" %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="viewport" content="{% block viewport %}width=device-width"{% endblock %}>

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block mainstyles %}
            {% block styles %}
            {% endblock %}
        {% endblock %}

        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}
            {% include "fancypages/partials/extrastyles.html" %}
        {% endblock %}

        {% block extrahead %}{% endblock %}
    </head>

    <body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">
        {# Main content goes in this 'layout' block #}
        {% block layout %}{% endblock %}

        {% block tracking %}
            {# This block can be used to place tracking such as Google Analytics #}
        {% endblock %}

        {% block cdn_scripts %}
            {% include "fancypages/partials/cdn_scripts.html" %}
        {% endblock %}

        {# Local scripts #}
        {% block scripts %}
            {% include "fancypages/partials/extrascripts.html" %}
        {% endblock %}

        {# Additional JS scripts #}
        {% block extrascripts %}{% endblock %}

        {# Block for body onload functions #}
        <script type="text/javascript">
            $(function() {
                {% block onbodyload %}{% endblock %}
            });
        </script>

        {# Page meta-data - this is populated by the 'metadata' template context processor #}
        <!-- {% trans "Version:" %} {{ version }} -->
    </body>
</html>
