{% load i18n %}
{% load fp_block_tags %}
{% load fp_container_tags %}

<div class="sortable connectedSortable {% if request.fp_edit_mode %}editable-container{% endif %}"
     data-container-id="{{ container.id }}">
{% for fp_block,rendered_block in rendered_blocks %}
    <div id="block-{{ fp_block.id }}" class="block {{ container.name }}"
         data-container-name="{{ container.name }}" data-block-id="{{ fp_block.id }}">

        {% if request.fp_edit_mode %}
            <div class="edit-button fp-btn"><i class="glyphicon-edit"></i></div>

            {% if request.fp_debug_enabled %}
                <div class="edit-button fp-btn">
                    Block {{ fp_block }} (ID {{ fp_block.id }})
                    | Container {{ container.uid }}
                </div>
            {% endif %}

        {% endif %}

        {{ rendered_block }}

        {% if request.fp_edit_mode %}
        <div class="block-move-delete btn-group">
            <div class="fp-btn move"><i class="glyphicon-move"></i></div>
            <div class="fp-btn delete"><i class="glyphicon-trash"></i></div>
        </div>
        {% endif %}
    </div>
{% endfor %}

</div>

{% if request.fp_edit_mode %}
    {% render_block_selection %}
{% endif %}
