{% extends "fancypages/base.html" %}
{% load compress %}
{% load staticfiles %}

{% block layout %}
    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
	<div class="container-fluid page">
        <div class="page_inner">
            {% block header %}
                <div class="page-header action">
                    <h1>{% block headertext %}{% endblock %}</h1>
                </div>
                {% include "fancypages/partials/draft_note_block.html" %}
            {% endblock %}

            {% block subnavigation %}{% endblock %}

            <div class="content">
                {% block subheader %}{% endblock subheader %}
                {# Div exists for AJAX updates to entire content section #}
                <div id="content_inner">{% block content %}{% endblock %}</div>
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}

{% block extrastyles %}
    {{ block.super }}
    {% compress css %}
    {% include "fancypages/partials/extrastyles.html" %}
    {% endcompress %}
{% endblock %}

{% block navigation %}
    {{ block.super }}
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {% compress js %}
    {% include "fancypages/partials/extrascripts.html" %}
    {% endcompress %}
{% endblock %}
