@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

//Widget Modal uses some icomoon icons
@font-face {
	font-family: 'icomoon';
	src:url('/static/fancypages/fonts/icomoon/icomoon.eot');
	src:url('/static/fancypages/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/static/fancypages/fonts/icomoon/icomoon.svg#icomoon') format('svg'),
		url('/static/fancypages/fonts/icomoon/icomoon.woff') format('woff'),
		url('/static/fancypages/fonts/icomoon/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
//Utilities
.visible-editor {
  display:block;
}
//Widgets
.widget {
  position: relative;
  border:1px dashed transparent;
}
//Widgets Editing / Sortable
.edit-button {
  opacity: 0;
  margin: 5px;
}
.widget.editing,
.widget.widget-hover {
  border:1px dashed #ccc;
  > .widget-move-delete,
  > .edit-button {
    .opacity(100);
  }
}
.widget.editing {
  border-color:#000;
}
.ui-sortable-placeholder { 
  border: 1px dotted black; 
  visibility: visible !important; 
  height: 50px !important;
  background:#efefef; 
}
.ui-sortable-placeholder * { 
  visibility: hidden; 
}
.widget-move {
  .widget-hover {
    border-color:transparent;
    > .widget-move-delete,
    > .edit-button {
      .opacity(0);
    }
  }
  .widget, .sortable {
    border: 1px solid lightblue;
  }
  .sortable, .row-fluid [class*="span"] {
    min-height: 100px;
  }
}
.widget-move-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
}
.widget-add-control {
  position: relative;
  margin-top: 30px;
  .border-radius(4px);
  > .btn {
    padding-left:0;
    padding-right:0;
    display:block;
  }
  select {
    float: left;
    max-width: 70%;
  }
  button {
    margin-left: 5px;
  }
}
//No Assest default
.no-asset.edit-button {
  .opacity(100);
}

//Widget Modal
.modal {
  > form {
    margin:0;
  }
  .modal-header {
    > button {
      border:0;
      padding:0;
    } 
  }
}

.modal.fullscreen {
  width: 70%;
  margin-left: -35%;
}

.add-content .tabbable > ul > li > a {
  outline: none;
}

.add-content {
  .tab-content {
    ul {
      margin: 0;
      > li {
        display: block;
        float: left;
        margin: 0 2% 2%;
        width: 21%;
        label {
          font-family: icomoon;
          font-weight: normal;
          font-style: normal;
          text-decoration: inherit;
          font-size:75px;
          display: block;
          margin-bottom: 10px;
          line-height:96px;
        }
      }
    }
  }
}

//Widget Model Add Content Labels

.add-content ul > li > button {
  padding: 10px;
  color: @grayDark;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,.75);
  #gradient > .vertical-three-colors(@white, @white, 25%, darken(@white, 10%)); // Don't use .gradientbar() here since it does a three-color gradient
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  .border-radius(4px);
  @shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  .box-shadow(@shadow);
  width: 100%;
  cursor: pointer;
  // Give IE7 some love
  .ie7-restore-left-whitespace();
}
.add-content ul > li > button:hover {
  color: @grayDark;
  text-decoration: none;
  background-color: darken(@white, 10%);
  background-position: 0 -15px;
  .transition(background-position .1s linear);
}

.add-content ul > li > button:focus {
  .tab-focus();
}

.add-content ul > li > button:active {
  background-image: none;
  @shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  .box-shadow(@shadow);
  background-color: darken(@white, 10%);
  background-color: darken(@white, 15%) e("\9");
  color: rgba(0,0,0,.5);
  outline: 0;
}

.add-content {
  .nav-tabs {
    margin-bottom: 20px;
    > li > a {
      width: auto;
    }
  }
}

.add-content .image_container {
  background: @white;
  border: 1px solid #e6e6e6;
  min-height: 154px;
  margin-bottom: 10px;
  padding: 16px;
  line-height: 154px;
  width: auto;
  .border-radius(5px);
  img {
    width: 100%;
    vertical-align: middle;
  }
}

//Icon fonts - all custom icons are ICOMOON
label#text {
  &:before {
    font-family: FontAwesome;
    content: "\f031";
  }
}
label#text {
  &:before {
    font-family: FontAwesome;
    content: "\f031";
  }
}
label#title-text {
  &:before {
    content: "\e00a";
  }
}
label#image {
  &:before {
    font-family: FontAwesome;
    content: "\f03e";
  }
}
label#single-product {
  &:before {
    content: "\e010";
  }
}
label#promotion-hand-picked-products {
  &:before {
    content: "\e013";
  }
}
label#promotion-ordered-products {
  &:before {
    content: "\e015";
  }
}
label#two-column-layout {
  &:before {
    /*content: "\e004";*/
  }
}
label#three-column-layout {
  &:before {
    content: "\e00e";
  }
}
label#four-column-layout {
  &:before {
    content: "\e014";
  }
}
label#products-range {
  &:before {
    content: "\e011";
  }
}
label#image-text {
  &:before {
    content: "\e012";
  }
}
label#tabbed-block {
  &:before {
    content: "\e00f";
  }
}
label#video {
  &:before {
    font-family: FontAwesome;
    content: "\f008";
  }
}
label#twitter {
  &:before {
    font-family: FontAwesome;
    content: "\f099";
  }
}

//Loading
.loading {
  background:url(/static/fancypages/img/loader.gif) 50% 50% #FAFAFA no-repeat;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:none;
  z-index:1060;
}