//Page management tree and the FP page link tree
@import "tree.less";

//Tree override
.fp-page-tree {
  > li {
    border:1px solid #dddddd;
    border-top-width:0;
    cursor:move;
    &:first-child {
      border-top-width:1px;
    }
  }
  h5, .btn-toolbar {
    margin:0;
  }
  h5 {
    margin-top:2px;
  }
}

.row-actions {
  background:#efefef;
  padding:5px;
  border-top:1px solid darken(#efefef, 10%);
}
