{% load i18n %}
{% load fp_widget_tags %}

{% for page in page_list %}
<li id="page-{{ page.id }}" class="sortable" data-page-id="{{ page.id }}">
    <div class="row-fluid" >
        <h5 class="span10">
            {% if page.numchild %}
            <a href="#" data-toggle="collapse" data-target="#{{ page.id }}-tree" class="collapsed"><i class="icon-caret-down"></i></a>
            {% endif %}
            <a href="#" data-toggle="collapse" data-target="#{{ page.id }}-actions"><i class="icon-file icon-large"></i> {{ page.title }}</a>            
        </h5>

        <div class="span2">
            {% if page.is_visible %}
            <span class="label label-success">{% trans "visible" %}</span>
            {% else %}
            <span class="label label-danger">{% trans "not visible" %}</span>
            {% endif %}
            <span class="label">{{ page.status|capfirst }}</span>
        </div>
    </div>

    <div class="collapse" id="{{ page.id }}-actions">
        <div class="row-actions">
            <!-- <a href="#" data-toggle="collapse" data-target="#{{ page.id }}-actions"><i class="icon-caret-up"></i></a> -->
            <a class="btn btn-small" href="{{ page.get_absolute_url }}">{% trans "View page" %}</a>
            <a class="btn btn-small btn-success" href="{% url fp-dashboard:child-page-create parent_pk=page.id %}">{% trans "Add child page" %}</a>
            <a class="btn btn-small btn-danger" href="{% url fp-dashboard:page-delete page.id %}">{% trans "Delete" %}</a>
            <a class="btn btn-small" href="{% url fp-dashboard:page-update page.id %}">{% trans "Edit page settings" %}</a>
            links to <a href="{{ page.get_absolute_url }}"><i class="icon-link"></i> {{ page.get_absolute_url }}</a>
        </div>
    </div>

    {% if page.numchild %}
    <ol id="{{ page.id }}-tree" class="collapse">
        {% with filename="fancypages/dashboard/partials/page_list_item.html" %}
        {% include filename with page_list=page.get_children %}
        {% endwith %}
    </ol>
    {% endif %}
</li>
{% endfor %}
