{% load i18n %}
{% load fp_block_tags %}
{% load url from future %}

{% for fancypage in fancypage_list %}
<li id="page-{{ fancypage.id }}" class="sortable {% if forloop.last %}last{% endif %}" data-page-id="{{ fancypage.id }}">
    <div class="row-fluid" >
        <h5 class="span10">
            {% if fancypage.numchild %}
            <a href="#" data-toggle="collapse" data-target="#{{ fancypage.id }}-tree" class="collapsed"><i class="icon-caret-down"></i></a>
            {% endif %}
            <a href="#" data-toggle="collapse" data-target="#{{ fancypage.id }}-actions"><i class="icon-file icon-large"></i> {{ fancypage.name }}</a>
        </h5>

        <div class="span2">
            {% if fancypage.is_visible %}
            <span class="label label-success">{% trans "visible" %}</span>
            {% else %}
            <span class="label label-danger">{% trans "not visible" %}</span>
            {% endif %}
            <span class="label">{{ fancypage.status|capfirst }}</span>
        </div>
    </div>

    <div class="collapse" id="{{ fancypage.id }}-actions">
        <div class="row-actions">
            <a class="btn btn-small" href="{{ fancypage.get_absolute_url }}">{% trans "View page" %}</a>
            <a class="btn btn-small btn-success" href="{% url "fp-dashboard:child-page-create" parent_pk=fancypage.id %}">{% trans "Add child page" %}</a>
            <a class="btn btn-small btn-danger" href="{% url "fp-dashboard:page-delete" fancypage.id %}">{% trans "Delete" %}</a>
            <a class="btn btn-small" href="{% url "fp-dashboard:page-update" fancypage.id %}">{% trans "Edit page settings" %}</a>
            links to <a href="{{ fancypage.get_absolute_url }}"><i class="icon-link"></i> {{ fancypage.get_absolute_url }}</a>
        </div>
    </div>

    {% if fancypage.node.numchild %}
    <ol id="{{ fancypage.id }}-tree" class="collapse">
        {% with filename="fancypages/dashboard/partials/page_list_item.html" %}
        {% include filename with fancypage_list=fancypage.get_children %}
        {% endwith %}
    </ol>
    {% endif %}
</li>
{% endfor %}
