@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

@editorWidth: 325px;
@editorGutter: 20px;
@btnBorder: #454545;

//Editor Handle
#editor-handle {
  position: fixed;
  top: 150px;
  left: 0px;
  width: 50px;
  z-index:10;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #444;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  letter-spacing: 1px;
  padding: 20px 0;
  .opacity(100);
  .box-shadow(1px 3px 5px rgba(0,0,0,.2));
  .transition(padding-left 0.2s ease-in-out);
  &:hover {
    .opacity(90);
    cursor: pointer;
    padding-left: 10px;
  }
  i {
    font-size: 25px;
    line-height:25px;
    display:block;
  }
}
// Edit Hidden Controls
.editor-hidden #editor-panel,
.editor-hidden #editor-panel .form-actions.fixed {
  left: -400px;
}
.editable-page-wrapper {
  margin-left:@editorWidth + 20;
}
.editor-hidden .editable-page-wrapper {
  margin-left:0;
}
.editor-hidden {
  margin-bottom:0!important;
  .edit-button.btn,
  .widget-move-delete,
  .widget-add-control {
    display:none;
  }
}
.editor-hidden {
  .widget.widget-hover,
  .widget.editing {
    border-color:transparent;
  }
}
// Editor Panel
#editor-panel {
  margin: 0px;
  height: 100%;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  width:@editorWidth;
  .box-shadow(inset -3px -7px 10px rgba(0,0,0,.1));
  z-index:1000; 
  color:#fff;
}
//Color Over-rides 
#editor-panel {
  label, h3, p {
    color:#fff;
  }
  .modal {
    label, h3, p {
      color:#444;
    }
  }
  .btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top:@baseLineHeight;
    .box-sizing(border-box);
  }
}
#editor-panel {
  background:#333;
  border-color:#000;
  input[type=text],
  textarea,
  select {
    .box-sizing(border-box);
    width:100%;
    font-size:12px;
    min-height: 35px;
  }
  .input-append {
    input[type=text] {
      width:85%;
    }
    .btn {
      .box-sizing(border-box);
      min-height: 35px;
    }
  }
}
.input-append .btn:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.sidebar-content {
  width:@editorWidth - 2;
}
.form-actions.fixed {
  position: fixed;
  border-top-color:@gray;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height:75px;
  width: @editorWidth;
  background:#2B2B2B;
  z-index:10;
  a {
    color:@grayLight;
    float:left;
  }
  > div {
    .clearfix();
    padding:@editorGutter @editorGutter 0;
  }
}
//Scrollbar
 .jspContainer{overflow:hidden;position:relative}
 .jspPane{position:absolute}
 .jspVerticalBar{position:absolute;top:0;right:0;width:10px;height:100%;background:red}
 .jspHorizontalBar{position:absolute;bottom:0;left:0;width:100%;height:10px;background:red}
 .jspVerticalBar *,.jspHorizontalBar *{margin:0;padding:0}
 .jspCap{display:none}.jspHorizontalBar .jspCap{float:left}
 .jspTrack{background:#efefef;position:relative}
 .jspDrag{background:#ccc;position:relative;top:0;left:0;cursor:pointer;.border-radius(5px);}
 .jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag{float:left;height:100%}
 .jspArrow{background:#50506d;text-indent:-20000px;display:block;cursor:pointer}
 .jspArrow.jspDisabled{cursor:default;background:#80808d}
 .jspVerticalBar .jspArrow{height:10px}
 .jspHorizontalBar .jspArrow{width:10px;float:left;height:100%}
 .jspVerticalBar .jspArrow:focus{outline:0}
 .jspCorner{background:#eeeef4;float:left;height:100%}
 * html .jspCorner{margin:0 -3px 0 0}
 
.sidebar-content,
.slide-pane {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  &:focus {
  	outline:none;
  }
  .jspDrag {
    background: #999;
    .border-radius(5px)
  }
  .jspVerticalBar {
    width:6px;
  }
  .jspTrack,
  .jspHorizontalBar {
    background: #333;
  }
}
//Editing Area
#page-settings,
#widget_input_wrapper {
  padding:@editorGutter;
}
.editing-area,
#page-settings {
  > h3 {
    border-bottom:1px solid @grayLight;
    margin-bottom:@baseLineHeight;
    span {
      font-size:18px;
    }
  }
}
//Inverse WYSIWYG
.navbar-inverse .nav > li > a {
  background:none;
}
.nav-wysiwyg {
  .nav > li > a {
    padding: 5px 5px 3px;
    text-transform:uppercase;
    color: #ccc;
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: #222;
      -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
      -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
      box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
      color:#fff;
    }
  }
  .navbar .nav > li {
    line-height:15px;
  }
  .navbar-inner {
    min-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    #gradient > .vertical(lighten(#222, 10%), lighten(#111, 10%))!important;
  }
  .icon-text {
    width:auto;
  }
}
.navbar.navbar-inverse.nav-wysiwyg {
  #gradient > .vertical(lighten(#222, 10%), lighten(#111, 10%))!important;
  .border-radius(4px);
  border-color: #252525;
  height:auto;
  .navbar-inner {
    height:auto;
  }
}
//Editor Main navigation
.button-nav {
  border-bottom:2px solid @grayDarker;
  .clearfix();
  .close {
    color: #fff;
    padding: 15px;
    background: #555;
    font-size: 30px;
    border:0;
    .opacity(80);
    &:hover {
      .opacity(100);
    }
  }
  i {
    font-size: 35px;
    vertical-align:middle;
    margin-right:5px;
  }
}
.button-nav a:hover {
  text-decoration:none;
}
//Editor Form Elements
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 1);
}
.wysihtml5-wrapper {
  overflow: auto;
  overflow-x:hidden;
}
.wysihtml5-wrapper textarea,
.editor textarea {
  height:250px;
  overflow-x:hidden;
}
.wysihtml5-toolbar {
  .btn-group {
    margin-bottom:10px;
  }
}
//Edditor Image
#asset-input {
  .thumbnail {
    background:#fff;
    margin-bottom:@baseLineHeight;
    border-color:lighten(@gray,7%);
  }
  .image_container {
    line-height:155px;
    margin-bottom:0;
  }
}
#fullscreen-modal {
  overflow:hidden;
  > .modal-body {
    max-height: none;
  }
  .close {
    margin-right:10px;
  }
} 
#messages {
  position: absolute;
  top: 80px;
  width: 97%;
  z-index: 1000;
}
//Modals
#editor-panel .modal {
  color:#444;
}
.modal {
  > form {
    margin:0;
  }
  .modal-header {
    > button {
      border:0;
      padding:0;
    }
  }
}
.nested-sortable-placeholder {
    border: 1px solid black;
    background-color: gray;
    list-style: none;
}
//Tree
.tree {
  margin:0;
  > li {
    list-style:none;
    border:1px solid #dddddd;
    border-top-width:0;
    padding:5px;
    &:first-child {
      border-top-width:1px;
    }
    &:nth-child(odd) {
      background:#efefef;
    }
  }
}
//Table Header
.table-header {
  .clearfix();
  h2,h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    margin:0;
    > i {
      padding-right: 10px;
    }
  }
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0;
  border: 1px solid #ccc;
  border-bottom: none;
  #gradient > .vertical(#F8F8F8, #e5e5e5);
  color: #242424;
  padding: 6px 10px;
  .border-radius(3px 3px 0 0);
  text-align: left;
  line-height: 28px;
  .btn-toolbar {
    margin-top:0;
    margin-bottom:0;
  }
  > i {
    padding-right: 10px;
  }
}

.tree, .tree ol {
  list-style-type: none;
}
.tree, .tree ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tree {
  a:hover {
    text-decoration:none;
  }
  ol {
    background:url(/static/fancypages/img/vline.png) transparent repeat-y;
    margin-left: 10px;
    > li {
      margin: 0;
      padding-left:5px 0 5px 12px;
      margin-top:5px;
      line-height: 20px;
      background: url(/static/fancypages/img/node.png) transparent no-repeat;
      color: #369;
    }
  }
  > li {
    border:1px solid #dddddd;
    border-top-width:0;
    padding:5px;
    cursor:move;
    &:first-child {
      border-top-width:1px;
      background:none!important;
    }
  }
  h5, .btn-toolbar {
    margin:0;
  }
  h5 {
    margin-top:2px;
  }
}
/* Simple styling for the modal list on the front-end of the fancy-pages */
.modal-body .tree {
  ol {
    background: none;
    > li {
      background: none;
      > a {
        padding-left: 10px;
      }
    }
  }
}

.collapsed .icon-caret-down:before {
 content: "\f0da";
}
.tree ol li.last {
  background: #fff url(/static/fancypages/img/lastnode.png) no-repeat;
}
.row-actions {
  background:#efefef;
  padding:5px;
  border-top:1px solid darken(#efefef, 10%);
}
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

//Utilities
.visible-editor {
  display:none;
}
//Widgets
.widget-wrapper {
  margin-bottom:@baseLineHeight;
}
//No Assest default
.no-asset {
  text-align:center;
  padding:60px 0;
  margin:0;
  #gradient .vertical(#fff, #efefef);
  i {
    font-size:50px;
    line-height:40px;
    display:block;
  }
}
//Change content layout dependent on container width
.span1,.span2, .span3, .span4 {
  .widget-wrapper {
    [class*="span"],
    .row-fluid [class*="span"],
    .mod-offer .products li {
      float: none;
      display: block;
      width: 100%;
      margin-left: 0;
      .box-sizing(border-box);
      margin-bottom:@baseLineHeight;
    }
  }
  .es-carousel {
    .products {
      overflow:hidden;
    }
  }
}

.fullscreen-modal {
  position: fixed;
  top: 5%;
  right: 5%;
  bottom: 100%;
  left: 5%;
  margin: 0;
  width: 90%;
  height: 90%;
  > .modal-body {
    overflow:hidden;
  }
}
//Moving content into smaller containers
/**** TO ADD IN  LATER ONCE WIDGET NAMES AR KNOWN ****/
/*.span4 {
  .widget-wrapper {
    height:30px;
    overflow:hidden;
    &:before {
      content: "Too large to fit here!";
      padding:5px;
      background:#efefef;
      display:block;
      text-align:center;
      text-transform:uppercase;
      font-size:11px;
    }
  }
}*/
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 60px; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
/*
Version: 3.3.0 Timestamp: Tue Feb  5 18:33:54 PST 2013
*/
.select2-container {
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input{
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box; /* webkit */
   -khtml-box-sizing: border-box; /* konqueror */
     -moz-box-sizing: border-box; /* firefox */
      -ms-box-sizing: border-box; /* ie */
          box-sizing: border-box; /* css3 */
}

.select2-container .select2-choice {
    display: block;
    height: 26px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;

    border: 1px solid #aaa;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;

    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(top, #ffffff 0%, #eeeeee 50%);
}

.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #aaa;

    -webkit-border-radius:0 0 4px 4px;
       -moz-border-radius:0 0 4px 4px;
            border-radius:0 0 4px 4px;

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.9, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 90%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 90%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 90%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, #eeeeee 0%,#ffffff 90%);
}

.select2-container .select2-choice span {
    margin-right: 26px;
    display: block;
    overflow: hidden;

    white-space: nowrap;

    -ms-text-overflow: ellipsis;
     -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
}

.select2-container .select2-choice abbr {
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 26px;
    top: 8px;

    font-size: 1px;
    text-decoration: none;

    border: 0;
    background: url('select2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
}
.select2-container .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}

.select2-drop-mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9998;
    opacity: 0;
}

.select2-drop {
    width: 100%;
    margin-top:-1px;
    position: absolute;
    z-index: 9999;
    top: 100%;

    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;

    -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;

    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
       -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
         -o-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.select2-drop.select2-drop-above {
    margin-top: 1px;
    border-top: 1px solid #aaa;
    border-bottom: 0;

    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;

    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
       -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
         -o-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.select2-container .select2-choice div {
    display: block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    border-left: 1px solid #aaa;
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;

    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;

    background: #ccc;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
    background-image: -ms-linear-gradient(top, #cccccc 0%, #eeeeee 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
    background-image: linear-gradient(top, #cccccc 0%, #eeeeee 60%);
}

.select2-container .select2-choice div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('select2.png') no-repeat 0 1px;
}

.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;

    position: relative;
    z-index: 10000;

    white-space: nowrap;
}

.select2-search-hidden {
    display: block;
    position: absolute;
    left: -10000px;
}

.select2-search input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;

    outline: 0;
    font-family: sans-serif;
    font-size: 1em;

    border: 1px solid #aaa;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    background: #fff url('select2.png') no-repeat 100% -22px;
    background: url('select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('select2.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('select2.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('select2.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.select2-drop.select2-drop-above .select2-search input {
    margin-top: 4px;
}

.select2-search input.select2-active {
    background: #fff url('select2-spinner.gif') no-repeat 100%;
    background: url('select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
       -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
         -o-box-shadow: 0 0 5px rgba(0,0,0,.3);
            box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.select2-dropdown-open .select2-choice {
    border: 1px solid #aaa;
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 #fff inset;
       -moz-box-shadow: 0 1px 0 #fff inset;
         -o-box-shadow: 0 1px 0 #fff inset;
            box-shadow: 0 1px 0 #fff inset;

    -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomleft: 0;
            border-bottom-left-radius: 0;

    -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-bottomright: 0;
            border-bottom-right-radius: 0;

    background-color: #eee;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
    background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
    background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
    background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
    background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
    background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%);
}

.select2-dropdown-open .select2-choice div {
    background: transparent;
    border-left: none;
    filter: none;
}
.select2-dropdown-open .select2-choice div b {
    background-position: -18px 1px;
}

/* results */
.select2-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.select2-results ul.select2-result-sub {
    margin: 0;
}

.select2-results ul.select2-result-sub > li .select2-result-label { padding-left: 20px }
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 40px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 60px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 80px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 100px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 110px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 120px }

.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: bold;
}

.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;
}

.select2-results .select2-highlighted {
    background: #3875d7;
    color: #fff;
}

.select2-results li em {
    background: #feffde;
    font-style: normal;
}

.select2-results .select2-highlighted em {
    background: transparent;
}

.select2-results .select2-highlighted ul {
    background: white;
    color: #000;
}


.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
    display: none;
}

.select2-more-results.select2-active {
    background: #f4f4f4 url('select2-spinner.gif') no-repeat 100%;
}

.select2-more-results {
    background: #f4f4f4;
    display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container.select2-container-disabled .select2-choice div {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
    display: none
}


/* multiselect */

.select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0;
    position: relative;

    border: 1px solid #aaa;
    cursor: text;
    overflow: hidden;

    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
    min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
       -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
         -o-box-shadow: 0 0 5px rgba(0,0,0,.3);
            box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
    height: 15px;
    padding: 5px;
    margin: 1px 0;

    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
    background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: #fff url('select2-spinner.gif') no-repeat 100% !important;
}

.select2-default {
    color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;

    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
       -moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
            box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);

    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;

    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0 );
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
}
.select2-container-multi .select2-choices .select2-search-choice span {
    cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #d4d4d4;
}

.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;

    font-size: 1px;
    outline: none;
    background: url('select2.png') right top no-repeat;
}

.select2-container-multi .select2-search-choice-close {
    left: 3px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices{
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid #ddd;
    background-image: none;
    background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
    display: none;
}
/* end multiselect */


.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline;
}

.select2-offscreen {
    position: absolute;
    left: -10000px;
}

/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)  {
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice div b {
      background-image: url('select2x2.png') !important;
      background-repeat: no-repeat !important;
      background-size: 60px 40px !important;
  }
  .select2-search input {
      background-position: 100% -21px !important;
  }
}
