{% load fp_container_tags %}

<div class="row-fluid">
    <div class="span3 column-1 pull-left">
        {% block column_1 %}
            {% fp_block_container container-one %}
        {% endblock %}
    </div>

    <div class="span3 column-2 pull-left">
        {% block column_2 %}
            {% fp_block_container container-two %}
        {% endblock %}
    </div>

    <div class="span3 column-3 pull-right">
        {% block column_3 %}
            {% fp_block_container container-three %}
        {% endblock %}
    </div>

    <div class="span3 column-4 pull-right">
        {% block column_4 %}
            {% fp_block_container container-four %}
        {% endblock %}
    </div>
</div>
