{% extends "fancypages/block.html" %}
{% load fp_block_tags %}

{% block widget %}
<div class="row-fluid">
    <div class="span5">
        {% if object.link %}
        <a href="{{ object.link }}">
            {# FIXME an image currently doesnt work with the render tag #}
            {% include "fancypages/widgets/partials/image_thumbnail.html" with asset=object.image_asset %}
        </a>
        {% else %}
            {% include "fancypages/widgets/partials/image_thumbnail.html" with asset=object.image_asset %}
        {% endif %}
    </div>
    <div class="span7">
        {% render_attribute "text" "safe" %}
    </div>
</div>
{% endblock %}
