{% extends "fancypages/block.html" %}
{% load i18n %}
{% load fp_block_tags %}
{% load fp_sitemap_tags %}

{% block block_content %}

    {% if fp_block.is_relative and fancypage %}
        {% get_page_tree depth=fp_block.depth relative_to=fancypage as page_tree %}
    {% else %}
        {% get_page_tree depth=fp_block.depth as page_tree %}
    {% endif %}

    <div style="padding: 8px 0;">
        {% if page_tree %}
        <ul class="nav nav-list">
            <li class="nav-header">
                {% trans "Browse pages" %}
            </li>
            {% for page,subtree in page_tree %}
                <li>
                    <a href="{{ page.get_absolute_url }}">
                        {{ page.name }}
                    </a>
                    {% include "fancypages/blocks/partials/subtree.html" %}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}
