{% extends "fancypages/block.html" %}
{% load i18n %}
{% load fp_block_tags %}
{% load fp_sitemap_tags %}

{% block block_content %}
    {% get_page_tree depth=2 as page_tree %}

    <div class="side_categories" style="padding: 8px 0;">
        {% if page_tree %}
        <ul class="nav nav-list">
            <li class="nav-header">{% trans "Browse categories" %}</li>
            {% for page,sub_pages in page_tree %}
            <li><a href="{{ page.get_absolute_url }}">{{ page.name }}</a>
                {% if sub_pages %}
                <ul>
                    {% for sub_page,__ in sub_pages %}
                    <li><a href="{{ sub_page.get_absolute_url }}">{{ sub_page.name }}</a>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}
