{% extends "fancypages/block.html" %}
{% load fp_block_tags %}
{% load i18n %}

{% block block_content %}
    {% if fp_block.code and fp_block.source == 'youtube' %}
        <div class="block-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ fp_block.video_code }}" frameborder="0" allowfullscreen></iframe>
        </div>
    {% else %}
        <button class="visible-editor no-asset fp-btn fp-btn-block edit-button">
        	<i class="glyphicon-play"></i> <br>{% trans "Add a video" %}
        </button>
    {% endif %}
{% endblock %}
